*,
*:before,
*:after{
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
  margin: 0;
  padding: 0;
}
body {
  background: $dark;
  color: $light;
  padding-top:50px;
  font-family: $body-font;
  font-size: 16px;
  transition: all .5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow-x: hidden;
  line-height: 1.6;
}
h1,h2,h3,h4 {
  font-family: $heading-font;
  position: relative;
}
h1,
h2,
h3,
h4 {
	line-height: 1.6em;
}
ul,
ol {
	margin: 0;
	padding-left: 15px;
}

a {
	outline: none;
	text-decoration: none !important;
	color: rgba(39,48,57,.85);
}

a:hover {
	color: #fa7921;
}

p{
  padding: 12.5px 0;
  color: $pale;
  font-size: 16.4px;
  margin: 0;
}
