$emojis : (
  grin: "😀",
  beam: "😁",
  joy: "😂",
  laugh: "🤣",
  grin_1: "😃",
  grin_2: "😄",
  grin_3: "😅",
  grin_4: "😆",
  wink: "😉",
  smile: "😊",
  savor: "😋",
  smile_1: "😎",
  smile_2: "😍",
  blow_kiss: "😘",
  kiss: "😗",
  kiss_1: "😙",
  kiss_2: "😚",
  smile_3: "☺",
  smile_4: "🙂",
  hug_face: "🤗",
  star_struck: "🤩",
  think: "🤔",
  eyebrow: "🤨",
  neutral: "😐",
  expressionless: "😑",
  mouth_1: "😶",
  face: "🙄",
  smirk: "😏",
  face_1: "😣",
  sad: "😥",
  mouth_open: "😮",
  mouth_zip: "🤐",
  hushed_face: "😯",
  sleepy_face: "😪",
  tired: "😫",
  sleeping: "😴",
  relieved: "😌",
  tongue_1: "😛",
  wink_1: "😜",
  squint_tongue: "😝",
  drool: "🤤",
  unamused: "😒",
  downcast: "😓",
  pensive: "😔",
  confused: "😕",
  face_down: "🙃",
  money_mouth: "🤑",
  astonished: "😲",
  frowning: "☹",
  frown: "🙁",
  confounded: "😖",
  disappointed: "😞",
  worried: "😟",
  nose_1: "😤",
  crying: "😢",
  wail: "😭",
  frown_1: "😦",
  anguished: "😧",
  fearful: "😨",
  weary: "😩",
  exploding: "🤯",
  grimace: "😬",
  anxious: "😰",
  screaming: "😱",
  flushed: "😳",
  zany_face: "🤪",
  dizzy: "😵",
  poute: "😡",
  angry: "😠",
  nauseated: "🤢",
  vomiting: "🤮",
  sneezing: "🤧",
  cowboy: "🤠",
  partying: "🥳",
  pleading: "🥺",
  lying: "🤥",
  nerd: "🤓",
  angry_1: "👿",
  clown: "🤡",
  ogre: "👹",
  goblin: "👺",
  skull: "💀",
  ghost: "👻",
  alien: "👽",
  thermo: "🤒",
  robot: "🤖",
  poo: "💩",
  baby: "👶",
  child: "🧒",
  boy: "👦",
  girl: "👧",
  person: "🧑",
  man: "👨",
  beard: "🧔",
  woman: "👩",
  older_person: "🧓",
  old_man: "👴",
  old_woman: "👵",
  monkey_1: "🙈",
  monkey_2: "🙉",
  monkey_3: "🙊",
  police: "👮",
  detective: "🕵",
  guard: "💂",
  prince: "🤴",
  princess: "👸",
  baby_angel: "👼",
  Santa_Claus: "🎅",
  superhero: "🦸",
  mage: "🧙",
  fairy: "🧚",
  vampire: "🧛",
  merperson: "🧜",
  merman: "🧜",
  mermaid: "🧜",
  elf: "🧝",
  man_elf: "🧝",
  woman_elf: "🧝",
  genie: "🧞",
  man_genie: "🧞",
  woman_genie: "🧞",
  zombie: "🧟",
  person_frown: "🙍",
  man_frown: "🙍",
  woman_frown: "🙍",
  person_pout: "🙎",
  man_pout: "🙎",
  woman_pout: "🙎",
  person_no: "🙅",
  man_no: "🙅",
  woman_no: "🙅",
  person_ok: "🙆",
  man_ok: "🙆",
  woman_ok: "🙆",
  person_tip: "💁",
  man_tip: "💁",
  woman_tip: "💁",
  person_hand: "🙋",
  man_hand: "🙋",
  woman_hand: "🙋",
  person_bow: "🙇",
  man_bow: "🙇",
  woman_bow: "🙇",
  person_facepalm: "🤦",
  man_facepalm: "🤦",
  woman_facepalm: "🤦",
  person_shrug: "🤷",
  man_shrug: "🤷",
  woman_shrug: "🤷",
  person_walk: "🚶",
  man_walk: "🚶",
  woman_walk: "🚶",
  person_run: "🏃",
  man_run: "🏃",
  woman_run: "🏃",
  woman_dance: "💃",
  man_dance: "🕺",
  person_climb: "🧗",
  man_climb: "🧗",
  woman_climb: "🧗",
  person_lotus: "🧘",
  man_lotus: "🧘",
  woman_lotus: "🧘",
  shower: "🛀",
  nap: "🛌",
  horse_racing: "🏇",
  skier: "⛷",
  snowboarder: "🏂",
  person_surfing: "🏄",
  man_surfing: "🏄",
  woman_surfing: "🏄",
  person_swim: "🏊",
  man_swim: "🏊",
  woman_swim: "🏊",
  person_lift: "🏋",
  man_lift: "🏋",
  woman_lift: "🏋",
  person_cycle: "🚴",
  race_car: "🏎",
  motorcycle: "🏍",
  person_cartwheel: "🤸",
  man_cartwheel: "🤸",
  woman_cartwheel: "🤸",
  people_wrestle: "🤼",
  men_wrestle: "🤼",
  women_wrestle: "🤼",
  person_juggle: "🤹",
  man_juggle: "🤹",
  woman_juggle: "🤹",
  couple_1: "👫",
  kissing: "💏",
  kissing_1: "👩",
  couple: "💑",
  family: "👪",
  selfie: "🤳",
  biceps: "💪",
  sure: "☝",
  fu: "🖕",
  victory: "✌",
  fingers_: "🤞",
  vulcan_salute: "🖖",
  call_me: "🤙",
  raised_hand: "✋",
  ok: "👌",
  thumbs_up: "👍",
  thumbs_down: "👎",
  raised_fist: "✊",
  fist: "👊",
  left_fist: "🤛",
  right_fist: "🤜",
  wave: "👋",
  love_your: "🤟",
  write: "✍",
  clap: "👏",
  open_hands: "👐",
  raising_hands: "🙌",
  palms_up: "🤲",
  folded_hands: "🙏",
  handshake: "🤝",
  nail_polish: "💅",
  ear: "👂",
  nose: "👃",
  footprints: "👣",
  eyes: "👀",
  eye: "👁",
  brain: "🧠",
  bone: "🦴",
  tooth: "🦷",
  mouth: "👄",
  kiss_mark: "💋",
  heart_beat: "💓",
  revolving_hearts: "💞",
  two_hearts: "💕",
  broken_heart: "💔",
  heart: "❤",
  heart_1: "💛",
  heart_2: "🧡",
  anger_symbol: "💢",
  bomb: "💣",
  collision: "💥",
  sweat: "💦",
  dizzy_1: "💫",
  speech_balloon: "💬",
  anger: "🗯",
  thought: "💭",
  hole: "🕳",
  glasses: "👓",
  sunglasses: "🕶",
  goggles: "🥽",
  neck_tie: "👔",
  t_shirt: "👕",
  jeans: "👖",
  scarf: "🧣",
  gloves: "🧤",
  coat: "🧥",
  socks: "🧦",
  dress: "👗",
  kimono: "👘",
  bikini: "👙",
  women_cloth: "👚",
  purse: "👛",
  handbag: "👜",
  clutch_bag: "👝",
  shopping_bag: "🛍",
  backpack: "🎒",
  man_shoe: "👞",
  running_shoe: "👟",
  hiking_boot: "🥾",
  flat_shoe: "🥿",
  heeled_shoe: "👠",
  woman_sandal: "👡",
  woman_boot: "👢",
  crown: "👑",
  woman_hat: "👒",
  top_hat: "🎩",
  graduation_cap: "🎓",
  billed_cap: "🧢",
  rescue_helmet: "⛑",
  lipstick: "💄",
  ring: "💍",
  gem_stone: "💎",
  monkey_face: "🐵",
  monkey: "🐒",
  gorilla: "🦍",
  dog_face: "🐶",
  dog: "🐕",
  poodle: "🐩",
  wolf_face: "🐺",
  fox_face: "🦊",
  cat_face: "🐱",
  cat: "🐈",
  lion: "🦁",
  tiger_face: "🐯",
  tiger: "🐅",
  leopard: "🐆",
  horse_face: "🐴",
  horse: "🐎",
  unicorn: "🦄",
  zebra: "🦓",
  deer: "🦌",
  cow_face: "🐮",
  ox: "🐂",
  water_buffalo: "🐃",
  cow: "🐄",
  pig_face: "🐷",
  pig: "🐖",
  boar: "🐗",
  pig_nose: "🐽",
  ram: "🐏",
  ewe: "🐑",
  goat: "🐐",
  camel: "🐪",
  camel_2: "🐫",
  llama: "🦙",
  giraffe: "🦒",
  elephant: "🐘",
  rhinoceros: "🦏",
  hippopotamus: "🦛",
  mouse_face: "🐭",
  mouse_1: "🐁",
  rat: "🐀",
  hamster: "🐹",
  rabbit_face: "🐰",
  rabbit: "🐇",
  chipmunk: "🐿",
  hedgehog: "🦔",
  bat: "🦇",
  bear_face: "🐻",
  koala: "🐨",
  panda: "🐼",
  kangaroo: "🦘",
  badger: "🦡",
  paw: "🐾",
  turkey: "🦃",
  chicken: "🐔",
  rooster: "🐓",
  chick: "🐣",
  chick_1: "🐤",
  chick_2: "🐥",
  bird: "🐦",
  penguin: "🐧",
  dove: "🕊",
  eagle: "🦅",
  duck: "🦆",
  owl: "🦉",
  peacock: "🦚",
  parrot: "🦜",
  frog: "🐸",
  crocodile: "🐊",
  turtle: "🐢",
  lizard: "🦎",
  snake: "🐍",
  dragon_face: "🐲",
  dragon: "🐉",
  sauropod: "🦕",
  spouting_whale: "🐳",
  whale: "🐋",
  dolphin: "🐬",
  fish: "🐟",
  fish_1: "🐠",
  blowfish: "🐡",
  shark: "🦈",
  octopus: "🐙",
  spiral_shell: "🐚",
  butterfly: "🦋",
  bug: "🐛",
  ant: "🐜",
  honeybee: "🐝",
  beetle: "🐞",
  cricket_1: "🦗",
  spider: "🕷",
  spider_web: "🕸",
  scorpion: "🦂",
  mosquito: "🦟",
  bouquet: "💐",
  cherry_blossom: "🌸",
  rosette: "🏵",
  rose: "🌹",
  wilted_flower: "🥀",
  hibiscus: "🌺",
  sunflower: "🌻",
  blossom: "🌼",
  tulip: "🌷",
  seedling: "🌱",
  tree: "🌲",
  palm_tree: "🌴",
  cactus: "🌵",
  herb: "🌿",
  shamrock: "☘",
  maple_leaf: "🍁",
  fallen_leaf: "🍂",
  leaf_in_wind: "🍃",
  grapes: "🍇",
  melon: "🍈",
  watermelon: "🍉",
  tangerine: "🍊",
  lemon: "🍋",
  banana: "🍌",
  pineapple: "🍍",
  mango: "🥭",
  apple: "🍎",
  pear: "🍐",
  peach: "🍑",
  cherries: "🍒",
  strawberry: "🍓",
  kiwi_fruit: "🥝",
  tomatoes: "🍅",
  coconut: "🥥",
  avocado: "🥑",
  eggplant: "🍆",
  potato: "🥔",
  carrot: "🥕",
  pepper: "🌶",
  cucumber: "🥒",
  leafy_green: "🥬",
  broccoli: "🥦",
  mushroom: "🍄",
  peanuts: "🥜",
  chestnut: "🌰",
  bread: "🍞",
  croissant: "🥐",
  baguette: "🥖",
  pretzel: "🥨",
  pancakes: "🥞",
  cheese: "🧀",
  meat: "🍖",
  poultry: "🍗",
  meat_cut: "🥩",
  bacon: "🥓",
  hamburger: "🍔",
  fries: "🍟",
  pizza: "🍕",
  hot_dog: "🌭",
  sandwich: "🥪",
  taco: "🌮",
  burrito: "🌯",
  flatbread: "🥙",
  egg: "🥚",
  cooking: "🍳",
  pan_of_food: "🥘",
  food: "🍲",
  spoon: "🥣",
  salad: "🥗",
  popcorn: "🍿",
  salt: "🧂",
  canned_food: "🥫",
  bento_box: "🍱",
  rice_ball: "🍙",
  cooked_rice: "🍚",
  curry_rice: "🍛",
  steaming_bowl: "🍜",
  spaghetti: "🍝",
  roasted_sweet_potato: "🍠",
  oden: "🍢",
  sushi: "🍣",
  fried_shrimp: "🍤",
  dango: "🍡",
  dumpling: "🥟",
  fortune_cookie: "🥠",
  takeout_box: "🥡",
  crab: "🦀",
  shrimp: "🦐",
  squid: "🦑",
  soft_ice_cream: "🍦",
  shaved_ice: "🍧",
  ice_cream: "🍨",
  doughnut: "🍩",
  cookie: "🍪",
  birthday_cake: "🎂",
  shortcake: "🍰",
  pie: "🥧",
  chocolate_bar: "🍫",
  candy: "🍬",
  lollipop: "🍭",
  custard: "🍮",
  honey_pot: "🍯",
  baby_bottle: "🍼",
  milk: "🥛",
  beverage: "☕",
  teacup: "🍵",
  sake: "🍶",
  wine: "🍷",
  cocktail: "🍸",
  tropical_drink: "🍹",
  beer_mug: "🍺",
  clinking_glasses: "🥂",
  tumbler_glass: "🥃",
  chopsticks: "🥢",
  cutlery: "🍽",
  fork_knife: "🍴",
  spoon_1: "🥄",
  kitchen_knife: "🔪",
  amphora: "🏺",
  globe_africa: "🌍",
  snow_capped: "🏔",
  mountain: "⛰",
  volcano: "🌋",
  camping: "🏕",
  beach: "🏖",
  desert: "🏜",
  stadium: "🏟",
  building: "🏛",
  houses: "🏘",
  house: "🏠",
  home: "🏡",
  office_building: "🏢",
  post_office: "🏤",
  hospital: "🏥",
  bank: "🏦",
  hotel: "🏨",
  convenience_store: "🏪",
  school: "🏫",
  department_store: "🏬",
  factory: "🏭",
  Japanese_castle: "🏯",
  castle: "🏰",
  statue_of_Liberty: "🗽",
  church: "⛪",
  mosque: "🕌",
  synagogue: "🕍",
  fountain: "⛲",
  tent: "⛺",
  hot_springs: "♨",
  ferris_wheel: "🎡",
  roller_coaster: "🎢",
  barber_pole: "💈",
  circus_tent: "🎪",
  railway_car: "🚃",
  train: "🚆",
  metro: "🚇",
  light_rail: "🚈",
  station: "🚉",
  tram: "🚊",
  monorail: "🚝",
  railway: "🚞",
  tram_1: "🚋",
  bus: "🚌",
  oncoming_bus: "🚍",
  ambulance: "🚑",
  fire_engine: "🚒",
  taxi: "🚕",
  oncoming_taxi: "🚖",
  tractor: "🚜",
  bicycle: "🚲",
  kick_scooter: "🛴",
  motor_scooter: "🛵",
  motorway: "🛣",
  railway_track: "🛤",
  stop_sign: "🛑",
  construction: "🚧",
  anchor: "⚓",
  sailboat: "⛵",
  canoe: "🛶",
  speedboat: "🚤",
  passenger_ship: "🛳",
  ferry: "⛴",
  motor_boat: "🛥",
  ship: "🚢",
  airplane: "✈",
  small_airplane: "🛩",
  departure: "🛫",
  arrival: "🛬",
  seat: "💺",
  helicopter: "🚁",
  cableway: "🚠",
  tramway: "🚡",
  satellite_1: "🛰",
  rocket: "🚀",
  flying_saucer: "🛸",
  hourglass: "⌛",
  hourglass_1: "⏳",
  watch: "⌚",
  alarm_clock: "⏰",
  stopwatch: "⏱",
  new_moon: "🌑",
  thermometer: "🌡",
  sun: "☀",
  star: "⭐",
  glowing_star: "🌟",
  cloud: "☁",
  tornado: "🌪",
  cyclone: "🌀",
  rainbow: "🌈",
  closed_umbrella: "🌂",
  umbrella: "☂",
  high_voltage: "⚡",
  snowflake: "❄",
  comet: "☄",
  fire: "🔥",
  droplet: "💧",
  jack-o-lantern: "🎃",
  christmas_tree: "🎄",
  sparkles: "✨",
  balloon: "🎈",
  party_popper: "🎉",
  wind_chime: "🎐",
  ribbon: "🎀",
  gift: "🎁",
  tickets: "🎟",
  medal: "🎖",
  trophy: "🏆",
  medal_4: "🏅",
  medal_1: "🥇",
  medal_2: "🥈",
  medal_3: "🥉",
  soccer_ball: "⚽",
  baseball: "⚾",
  softball: "🥎",
  basketball: "🏀",
  volleyball: "🏐",
  american_football: "🏈",
  rugby: "🏉",
  tennis: "🎾",
  bowling: "🎳",
  cricket: "🏏",
  hockey: "🏑",
  ice_hockey: "🏒",
  ping_pong: "🏓",
  badminton: "🏸",
  boxing_glove: "🥊",
  goal_net: "🥅",
  flag_in_hole: "⛳",
  ice_skate: "⛸",
  fishing_pole: "🎣",
  skis: "🎿",
  sled: "🛷",
  direct_hit: "🎯",
  crystal_ball: "🔮",
  video_game: "🎮",
  joystick: "🕹",
  game_die: "🎲",
  chess_pawn: "♟",
  thread: "🧵",
  yarn: "🧶",
  megaphone: "📣",
  postal_horn: "📯",
  bell: "🔔",
  microphone: "🎤",
  headphone: "🎧",
  saxophone: "🎷",
  guitar: "🎸",
  musical_keyboard: "🎹",
  trumpet: "🎺",
  violin: "🎻",
  drum: "🥁",
  mobile: "📱",
  telephone: "☎",
  pager: "📟",
  battery: "🔋",
  laptop: "💻",
  desktop: "🖥",
  keyboard: "⌨",
  mouse: "🖱",
  trackball: "🖲",
  camera: "📷",
  candle: "🕯",
  bulb: "💡",
  flashlight: "🔦",
  notebook: "📔",
  book: "📖",
  books: "📚",
  notebook_1: "📓",
  ledger: "📒",
  bookmark: "🔖",
  label: "🏷",
  money_bag: "💰",
  yen: "💴",
  dollar: "💵",
  euro: "💶",
  pound: "💷",
  credit_card: "💳",
  receipt: "🧾",
  dollar_sign: "💲",
  envelope: "✉",
  email: "📧",
  outbox: "📤",
  inbox: "📥",
  package: "📦",
  black_nib: "✒",
  fountain_pen: "🖋",
  pen: "🖊",
  paintbrush: "🖌",
  memo: "📝",
  briefcase: "💼",
  file_folder: "📁",
  calendar: "📅",
  card_index: "📇",
  clipboard: "📋",
  pushpin: "📌",
  paperclip: "📎",
  ruler: "📏",
  scissors: "✂",
  cabinet: "🗄",
  wastebasket: "🗑",
  locked: "🔒",
  unlocked: "🔓",
  key: "🔑",
  old_key: "🗝",
  hammer: "🔨",
  pick: "⛏",
  wrench: "🛠",
  dagger: "🗡",
  swords: "⚔",
  pistol: "🔫",
  bow: "🏹",
  shield: "🛡",
  wrench_1: "🔧",
  nut_bolt: "🔩",
  gear: "⚙",
  scale: "⚖",
  link: "🔗",
  chains: "⛓",
  microscope: "🔬",
  telescope: "🔭",
  satellite: "📡",
  syringe: "💉",
  pill: "💊",
  door: "🚪",
  bed: "🛏",
  couch_lamp: "🛋",
  toilet: "🚽",
  shower_1: "🚿",
  bathtub: "🛁"
);

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 25px;
  max-width: 1084px;
  margin: 0 auto;
}
@each $emoji, $code in $emojis {
  .em_#{$emoji}:after {
    content: $code;
  }
}

[class^=em_] {
  background: transparent;
  display: inline-grid;
  justify-self: center;
}

[class^=em_]:after {
  padding-left: 15px;
  padding-right: 15px;
}

@for $i from 1 through 5 {
  $margin : $i * 15px; 
  .em-#{$i}x {
    font-size: $margin;
  }
}