
@for $i from 1 through 3 {
  $size: $i * 25px * 0.5;
  .pt-#{$i} {
    padding-top: $size !important;
  }
  .pb-#{$i} {
    padding-bottom: $size !important;
  }
  .pl-#{$i} {
    padding-left: $size !important;
  }
  .pr-#{$i} {
    padding-right: $size !important;
  }
}
.underline {
  margin-top: 0;
  position: relative;
  text-decoration: none;
  span,
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
  }
  span{
    width: 33%;
    background: $orange;
  }
  &:after{
    width: 100%;
    background: rgba(39,48,57,.15); 
  }
}
.flex {
  justify-content: center;
  min-height: 360px;
  &,&_rev{
    flex-direction: column;
  }
  &,&_row,&_rev{
    display: flex;
    align-items: center;
  }
  &_row{
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
.reverse{
  order: -1;
}
.thumb{
  width: 100px;
}

$sites: (
  facebook: #325c94,
  twitter: #00abdc,
  google-plus: #dd4b38,
  linkedin: #007bb6
);

@each $item, $color in $sites {
  .#{$item} {
    background: $color;
  }
}

.white{
  color: $light;
  font-weight: 400;
}
.slim{
  font-weight: 400;
  margin: 5px 0;
}
